@model AppMinhaBahia.Models.Requisicao

@{
    if (ViewBag.Cargo == 'G')
    {
        Layout = "_LayoutGovernador";
    }
    else if (ViewBag.Cargo == 'P')
    {
        Layout = "_LayoutPrefeito";
    }
    else
    {
        Layout = "_LayoutComum";
    }
    ViewData["Title"] = "Detalhes";
}

<main>
    <h5 style="position: absolute; top: 10px; right: 10px;">Verba total: @ViewBag.Verba</h5>
    <div class="container-fluid px-4">
        <h1>Detalhes</h1>

        <div>
            @if (ViewBag.CidadeRequisicao != null)
            {
                <h4>@ViewBag.CidadeRequisicao</h4>
            }
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Tipo
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tipo)
                </dd>
                <dt class="col-sm-2">
                    Descrição
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt class="col-sm-2">
                    Verba
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Verba)
                </dd>
                <dt class="col-sm-2">
                    Data da requisição
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DataDeCriacao)
                </dd>
                <dt class="col-sm-2">
                    Status
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
        </div>
        @if (Model.Status == StatusRequisicao.analise && 
        (ViewBag.Cargo == 'G' || ViewBag.Cargo == 'P'))
        {
            @if (ViewBag.Cargo == 'P')
            {
                <form method="get" asp-controller="Requisicao" asp-action="Aprovar" style="display: inline-block;">
                    <input name="requisicaoid" type="hidden" value="@Model.RequisicaoID">
                    <div class="form-floating mt-2 mb-2" style="display: inline-block;">
                        <input style="width: 200px;" type="number" name="custo" class="form-control" placeholder="Definir custo" id="custo"/>
                        <label for="custo">Definir custo</label>
                        <span for="custo" class="text-danger">
                            @if (ViewBag.Erro != null)
                            {
                                @ViewBag.Erro;
                            }
                        </span>
                    </div>
                    <div style="display: inline-block;">
                        <button type="submit" class="btn btn-success">Intervir</button>
                    </div>
                </form>
                <a asp-controller="Requisicao" asp-action="Reprovar" asp-route-requisicaoid="@Model.RequisicaoID"
                        class="btn btn-danger">Reprovar</a>
            }
            else if (ViewBag.Cargo == 'G')
            {
                <div>
                    <a asp-controller="Requisicao" asp-action="Aprovar" asp-route-requisicaoid="@Model.RequisicaoID"
                        class="btn btn-success">Aprovar</a>

                    <a asp-controller="Requisicao" asp-action="Reprovar" asp-route-requisicaoid="@Model.RequisicaoID"
                        class="btn btn-danger">Reprovar</a>
                </div>
            }
        }
    </div>
</main>