@model IEnumerable<AppMinhaBahia.Models.Ocorrencia>

@{
    ViewData["Title"] = "Ocorrências";
    Layout = "_LayoutLateral";
}

<h1 class="mt-4">Ocorrências</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Voltar</a></li>
    <li class="breadcrumb-item active">Ocorrências</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
        @if (Model.Count() > 0)
        {
            <table id="tabelaDeOcorrencias" class="table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Local Especifico</th>
                        <th>Criação</th>
                        <th>Cidade</th>
                        <th>Dono</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ocorrencia in Model)
                    {
                        <tr>
                            <th>@ocorrencia.Tipo</th>
                            <th>@ocorrencia.LocalEspecifico</th>
                            <th>@ocorrencia.Data</th>
                            <th>@ocorrencia.Usuario.Cidade.Nome</th>
                            <th>@ocorrencia.Usuario.NomeCompleto</th>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>Nenhuma ocorrência registrada</h3>
        }
    </div>
</div>